<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloModulo4"
        tools:targetApi="31">
        <activity
            android:name=".practices.compose.FormActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".practices.graphicComponents.FrameLayActivity"
            android:exported="false" />
        <activity
            android:name=".practices.graphicComponents.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".practices.compose.ComposeWelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".practices.graphicComponents.list.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".practices.graphicComponents.BasicComponentsActivity"
            android:exported="true" />
        <activity
            android:name=".practices.graphicComponents.ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".practices.graphicComponents.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".initialPractice.SelectArticleActivity"
            android:exported="false" />
        <activity
            android:name=".initialPractice.StartActivity"
            android:exported="true" />
        <activity
            android:name=".practices.explicitIntent.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".practices.explicitIntent.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".practices.implicitIntent.ImplicitIntentActivity"
            android:exported="true" />
        <activity
            android:name=".practices.lifecycle.LifecycleActivity"
            android:exported="true" />
        <activity
            android:name=".practices.WizardCreationActivity"
            android:exported="true" />
        <activity
            android:name=".practices.MainActivity"
            android:exported="true" />
        <activity
            android:name=".practices.ManualCreationActivity"
            android:exported="true" />
    </application>

</manifest>